<%# mengubah title menjadi Lilearnv di rails dengan erb %>
<% content_for :title, "Li-Learnv | Home" %>

<%# image variabel %>
<% images = [
  "https://static-00.iconduck.com/assets.00/strapi-icon-2048x527-z9c5j6du.png",
  "https://sponsors.vuejs.org/images/laravel.avif",
  "https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/2560px-Ruby_On_Rails_Logo.svg.png",
  "https://upload.wikimedia.org/wikipedia/commons/7/70/Docker_logo.png",
  "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8r3RyaBZLR9KSJnU9naUE-d9TCuJCCXv22A&s"
] %>
<%# navbar comps %>
<% if admin? %>
<nav class="flex w-full py-1 justify-center items-center shadow-md bg-zinc-100">
  <h1 class="tes">admin telah dataaaang!!</h1>
</nav>
<% end %>
<%= render 'shared/nav' %>
<%# navbar %>


<%# main comps %>
<main class="w-full text-zinc-700 play" id="play">
  <%# Hero section %>
  <section class=" flex flex-col xl:p-8 max-xl:p-6 max-lg:p-4 gap-16">
    <article class="text-center items-center flex flex-col gap-4 mx-auto max-w-[60%]">
      <h1 class="text-4xl font-medium">Ensures your succeed in coding <span class="px-4 pb-1 bg-amber-200 rounded-full w-fit h-fit">playground</span> with structured, engaging, and fun courses.</h1>
      <p>Learn by doing, with a community-driven platform that makes coding enjoyable.</p>
      <div class="flex gap-4">
        <%= railsbutton_secondary("Lihat Course", "/")%>
        <% if  logged_in? %>
        <% if admin?%>
        <%= railsbutton_primary("Dahsboard Admin", "/admin/dashboard?button_id=dashboard")%>
        <%else%>
        <% end %>
        <%= railsbutton_primary("Mulai Belajar", "/", color: "bg-amber-500 font-semibold text-white")%>
        <%else%>
        <%= railsbutton_primary("Daftar", "/login")%>
        <% end %>
      </div>

    </article>

    <div class="bg-cover bg-center h-[380px] rounded-3xl flex " style="background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
      <%= link_to coursepage_path(@latest_course.id), class: "w-fit max-w-[550px] flex gap-4 self-end ml-auto hover:bg-white/100 transition-all duration-500 bg-white/50 active:scale-90 me-4 mb-4 backdrop-blur-lg ps-2 py-2 pe-4 rounded-xl" do %>
      <img src="<%= @latest_course.thumbnail %>" alt="" class="rounded-xl h-28 aspect-video" />
      <article class="flex flex-col gap-2">
        <h1 class="w-fit text-xs bg-white rounded-full px-4 py-1 font-semibold text-amber-500">Latest Course</h1>
        <p class="uppercase font-semibold text-lg line-clamp-2"><%= @latest_course.title %></p>
      </article>
      <% end %>
    </div>
  </section>

  <%# sponsorhip %>
  <section class="xl:p-8 max-xl:p-6 max-lg:p-4">
    <div class="justify-evenly w-full grid grid-cols-5 justify-items-center">
      <!-- Gambar set pertama -->
      <%  images.each do |image_url| %>
      <img src="<%= image_url %>" alt="" class="h-[60px] w-full p-2 object-contain">
      <% end %>
    </div>
  </section>


  <%# section %>
  <main class="grid grid-cols-2 px-8 gap-8 mt-8">
    <section>
      <figure class="relative">
        <img class="w-full object-cover object-left aspect-square rounded-3xl" src="<%= image_path('coder.jpg') %>" alt="">
        <div class="absolute w-full h-full flex top-0 items-end">
          <div class="bg-white/35 backdrop-blur-md rounded-2xl font-semibold p-4 ml-auto translate-x-[160px] translate-y-[-200px] shadow-md">
            <h1 class="flex gap-4 items-center text-[20px] font-semibold border-b border-white pb-4">
              <span>
                <svg class="cursor-pointer hover:scale-95 transition-all" width="42" height="42" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_1183_262)">
                    <circle cx="26.5" cy="26.5" r="26.5" fill="#D9D9D9" />
                    <path d="M40.1896 13.694C37.7298 12.5431 35.0997 11.7067 32.3499 11.2305C32.0122 11.841 31.6177 12.6622 31.3457 13.3155C28.4226 12.8759 25.5265 12.8759 22.6572 13.3155C22.3852 12.6622 21.9817 11.841 21.641 11.2305C18.8883 11.7067 16.2551 12.5462 13.7953 13.7001C8.83385 21.1975 7.48888 28.5087 8.16137 35.7161C11.4521 38.1735 14.6411 39.6663 17.7764 40.6431C18.5505 39.5777 19.2409 38.4452 19.8357 37.2516C18.7029 36.8212 17.618 36.29 16.5929 35.6734C16.8648 35.4719 17.1309 35.2612 17.3879 35.0445C23.6405 37.969 30.4341 37.969 36.612 35.0445C36.872 35.2612 37.138 35.4719 37.407 35.6734C36.3788 36.293 35.2909 36.8242 34.1582 37.2547C34.7529 38.4452 35.4404 39.5808 36.2175 40.6462C39.3558 39.6693 42.5478 38.1766 45.8385 35.7161C46.6276 27.3609 44.4906 20.1169 40.1896 13.694ZM20.6875 31.2836C18.8106 31.2836 17.2713 29.5313 17.2713 27.3975C17.2713 25.2637 18.7777 23.5084 20.6875 23.5084C22.5974 23.5084 24.1366 25.2606 24.1038 27.3975C24.1067 29.5313 22.5974 31.2836 20.6875 31.2836ZM33.3123 31.2836C31.4354 31.2836 29.8961 29.5313 29.8961 27.3975C29.8961 25.2637 31.4024 23.5084 33.3123 23.5084C35.2222 23.5084 36.7614 25.2606 36.7286 27.3975C36.7286 29.5313 35.2222 31.2836 33.3123 31.2836Z" fill="#7269d6" />
                  </g>
                  <defs>
                    <clipPath id="clip0_1183_262">
                      <rect width="53" height="53" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </span>
              Discord Community
            </h1>
            <div class="flex justify-between gap-12 mt-4">
              <p class="font-medium text-[14px]">Connect, Learn, and Grow Together</p>
              <%= railsbutton_primary("Join", "/", color: "bg-indigo-700 text-white") %>
            </div>
          </div>
        </div>
      </figure>
    </section>

    <section class="flex flex-col">
      <article class="flex flex-col gap-4">
        <h1 class="text-[54px] font-semibold self-end">Dive into a world of diverse and <span class="text-amber-500">comprehensive </span> learning</h1>
        <div class="grid grid-cols-6 w-full items-center text-xl font-semibold">
          <p class="w-full col-span-2">Start your journey</p>
          <span class="w-full h-2 rounded-full bg-zinc-700 col-span-3"></span>
          <p class="w-full col-span-1 pl-6">Now!</p>
        </div>
      </article>

      <section class="flex flex-col gap-4 mt-auto w-fit items-end self-end">
        <div class="">
          <%= railsbutton_primary("Mulai Belajar", "/", color: "bg-amber-500 text-white", btn_class: "text-lg font-semibold") %>
        </div>
        <div class="border border-zinc-300 rounded-2xl font-semibold p-4  w-fit">
          <h1 class="flex gap-4 items-center text-[20px] font-semibold border-b border-zinc-300 pb-3">
            <span>
              <img src="<%= image_path('enchantbook.webp') %>" class="w-[48px] aspect-square rounded-full p-2 bg-zinc-200" alt="">
            </span>
            Rich Courses
          </h1>
          <div class="grid grid-cols-2 relative justify-between mt-4">
            <p class="font-medium text-[14px]">Explore our Rainbow Courses</p>
            <div class="flex justify-end h-full">
              <img src="<%= image_path('nuxt.svg') %>" alt="" class="translate-x-[60px] hover:-rotate-45 hover:translate-x-[40px] transition-all bg-white rounded-xl z-20">
              <img src="<%= image_path('framermotion.svg') %>" alt="" class="translate-x-[30px] bg-white rounded-xl z-10">
              <img src="<%= image_path('remix.svg') %>" alt="" class=" bg-white rounded-xl z-0">
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <%# section end %>




  <%# end %>
  <%# course card section  %>
  <main class="flex flex-col px-8 mt-12">
    <div class="w-full flex justify-between items-center">
      <h1 class="text-3xl font-semibold lowercase">Explore our Latest Courses!</h1>
      <%= railsbutton_primary("Explore", "/", color: "bg-amber-500 text-white", btn_class: "text-lg font-semibold", icon: '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m16 8.4l-8.9 8.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7L14.6 7H7q-.425 0-.712-.288T6 6t.288-.712T7 5h10q.425 0 .713.288T18 6v10q0 .425-.288.713T17 17t-.712-.288T16 16z"/></svg>', padding: "pr-2 py-1 pl-4") %>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 py-8 gap-4 ">
      <% @courses.order(created_at: :desc).first(4).each do |articles| %>
      <%# card %>
      <%= render 'shared/components/course_card', course: articles, updated_label: false %>
      <% end %>
    </section>
  </main>
  <%# course card updated section  %>
  <main class="flex flex-col px-8 mt-8">
    <div class="w-full flex justify-between items-center">
      <h1 class="text-3xl font-semibold lowercase">Updated Courses!</h1>
      <%= railsbutton_primary("Explore Updated", "/", color: "bg-amber-500 text-white", btn_class: "text-lg font-semibold", icon: '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m16 8.4l-8.9 8.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7L14.6 7H7q-.425 0-.712-.288T6 6t.288-.712T7 5h10q.425 0 .713.288T18 6v10q0 .425-.288.713T17 17t-.712-.288T16 16z"/></svg>', padding: "pr-2 py-1 pl-4") %>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 py-8 gap-4 ">
      <% @courses.order(updated_at: :desc).first(4).each do |articles| %>
      <%# card %>
      <%= render 'shared/components/course_card', course: articles %>
      <% end %>
    </section>
  </main>

  <%# footer comps %>
  <%= render 'shared/components/footer' %>
</main>