<%# mengubah title menjadi Lilearnv di rails dengan erb %>
<% content_for :title, "Li-Learnv | Beranda" %>

<%# image variabel %>
<% images = [
  "https://static-00.iconduck.com/assets.00/strapi-icon-2048x527-z9c5j6du.png",
  "https://sponsors.vuejs.org/images/laravel.avif",
  "https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/2560px-Ruby_On_Rails_Logo.svg.png",
  "https://upload.wikimedia.org/wikipedia/commons/7/70/Docker_logo.png",
  "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8r3RyaBZLR9KSJnU9naUE-d9TCuJCCXv22A&s"
] %>
<%# navbar comps %>
<% if admin? %>
<nav class="flex w-full py-1 justify-center items-center shadow-md bg-zinc-100">
  <h1 class="capitalize font-semibold">admin telah dataaaang!!</h1>
</nav>
<% end %>
<%# navbar %>
<%= render 'shared/nav' %>


<%# main comps %>
<main class="w-full text-zinc-700">
  <%# Hero section %>
  <section class=" flex flex-col xl:p-8 max-xl:p-6 max-lg:p-4 gap-16">
    <article class="text-center items-center flex flex-col gap-4 mx-auto max-w-[60%]">
      <h1 class="text-4xl font-medium">Ensures your succeed in coding <span class="px-4 pb-1 bg-amber-200 rounded-full w-fit">playground</span> with structured, engaging, and fun courses.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci expedita, eligendi explicabo saepe consequatur!</p>
      <div class="flex gap-4">
        <%= railsbutton_secondary("Lihat Course", "/")%>
        <% if  logged_in? %>
        <% if admin?%>
        <%= railsbutton_primary("Dahsbboard Admin", "/courses/new")%>
        <%else%>
        <%= railsbutton_primary("Mulai Belajar", "/")%>
        <% end %>
        <%else%>
        <%= railsbutton_primary("Daftar", "/login")%>
        <% end %>
      </div>

    </article>

    <div class="bg-cover bg-center h-[380px] rounded-3xl" style="background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"></div>
  </section>

  <%# sponsorhip %>
  <section class="xl:p-8 max-xl:p-6 max-lg:p-4">
    <div class="justify-evenly w-full grid grid-cols-5 justify-items-center">
      <!-- Gambar set pertama -->
      <%  images.each do |image_url| %>
      <img src="<%= image_url %>" alt="" class="h-[60px] w-full p-2 object-contain">
      <% end %>
    </div>
  </section>
</main>