<!-- app/views/shared/components/_course_card.html.erb -->

<%# props variable %>
<% updated_label = local_assigns.fetch(:updated_label, true) %>

<%# end props %>


<%# start card component %>
<%= link_to coursepage_path(course.id), class: "group bg-white flex flex-col justify-start gap-2 rounded-2xl h-full transition-all relative overflow-hidden" do %>
<img src="<%= course.thumbnail %>" class="w-full object-cover aspect-[16/9] rounded-2xl" alt="" />

<%# label %>
<article class="absolute top-3 right-3 flex gap-2">
  <% if updated_label %>
  <h1 class="w-fit flex items-center gap-2 text-xs bg-white/80 backdrop-blur-lg rounded-full px-3 py-1 font-semibold text-zinc-600  left-3">Diperbarui <%= time_ago_in_words(course.updated_at) %> yang lalu
  </h1>
  <% else %>
  <% end %>
  <h1 class="w-fit flex items-center gap-2 text-xs bg-white/80 backdrop-blur-lg rounded-full px-3 py-1 font-semibold text-amber-600 ">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
      <path fill="currentColor" d="M7.885 16.616q.213 0 .356-.144t.144-.357V4.5q0-.213-.144-.356Q8.097 4 7.884 4t-.356.144t-.143.356v11.616q0 .212.144.356t.356.143M6.231 21q-.93 0-1.58-.65Q4 19.698 4 18.77V5.23q0-.929.65-1.58Q5.302 3 6.23 3H15q.666 0 1.14.475q.476.474.476 1.14V16q0 .666-.475 1.14q-.475.476-1.141.476H6.23q-.501 0-.865.341Q5 18.3 5 18.804t.365.85t.866.346h12.154q.269 0 .442-.173t.173-.442V5.5q0-.213.144-.356T19.501 5t.356.144T20 5.5v13.885q0 .666-.475 1.14t-1.14.475z" />
    </svg> <%= course.materials.count %> Materi
  </h1>

</article>
<%# end label %>


<span class="absolute transition-all duration-300 rounded-xl w-full h-full opacity-0 group-hover:opacity-100 translate-y-[66%] group-hover:bg-white group-hover:translate-y-[35%] ">
  <div class="flex flex-col p-4 rounded-xl group-hover:bg-zinc-700 group-hover:text-zinc-100 group-hover:border-4 group-hover:border-zinc-200 transition-all">
    <h1 class="text-xl font-semibold uppercase">
      <%= course.title %>
    </h1>
    <p class="line-clamp-1 group-hover:line-clamp-3"><%= course.description %></p>
    <p class="flex gap-2 items-center text-zinc-200 mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <path fill="currentColor" d="M7.885 16.616q.213 0 .356-.144t.144-.357V4.5q0-.213-.144-.356Q8.097 4 7.884 4t-.356.144t-.143.356v11.616q0 .212.144.356t.356.143M6.231 21q-.93 0-1.58-.65Q4 19.698 4 18.77V5.23q0-.929.65-1.58Q5.302 3 6.23 3H15q.666 0 1.14.475q.476.474.476 1.14V16q0 .666-.475 1.14q-.475.476-1.141.476H6.23q-.501 0-.865.341Q5 18.3 5 18.804t.365.85t.866.346h12.154q.269 0 .442-.173t.173-.442V5.5q0-.213.144-.356T19.501 5t.356.144T20 5.5v13.885q0 .666-.475 1.14t-1.14.475z" />
      </svg> <%= course.materials.count %> Materi
    </p>
  </div>
</span>
<div class="bg-zinc-200 rounded-2xl h-full p-3">
  <h1 class="text-xl font-semibold uppercase">
    <%= course.title %>
  </h1>
  <p class="line-clamp-1"><%= course.description %></p>
</div>
<% end %>